#

# Statistics : 2 types, descriptive and inferential statistics

In [78]:
#Descriptive statistics
#In measure of central tendency
#mean, median, mode

# Measure of central tendency

In [79]:
#mean

import numpy as np
x=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.mean(x)

4.2

In [80]:
print ("mean : ", np.mean(x))

mean :  4.2

In [81]:
#created the list into a table format
import pandas as pd
z=pd.DataFrame(data={'values': [1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]})
z

    values
0        1
1        2
2        3
3        1
4        2
5        3
6        4
7        5
8        2
9        6
10       7
11       5
12       4
13       8
14      10

In [82]:
#mean using pandas
z.mean()

values    4.2
dtype: float64

In [83]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [84]:
#median
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.median(X)

4.0

In [85]:
print("median : ", np.median(X))

median :  4.0

In [86]:
#using pandas
z.median()

values    4.0
dtype: float64

In [87]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [88]:
#mode
#numpy does not has an attribute mode

In [89]:
#using pandas
z.mode()

   values
0       2

In [90]:
#descriptive statistics
#measure of dispersion
#variance and std deviation

# Measure of Dispersion

In [92]:
#variance
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.var(X)

6.5600000000000005

In [93]:
#using pandas
z.var()

values    7.028571
dtype: float64

In [94]:
#standard deviation
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.std(X)

2.5612496949731396

In [95]:
print("Variance : ", np.std(X))

Variance :  2.5612496949731396

In [96]:
#using pandas
z.std()

values    2.651145
dtype: float64

# 5 number Summary

1. Minimum
2. 1st quartile -Q1
3. 2nd quartie -Q2(Median)
4. 3rd quartie -Q3
5. Maximum

In [97]:
#Minimum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.min(X)

1

In [98]:
print("Minimum : ", np.min(X))

Minimum :  1

In [99]:
#using pandas
z.min()

values    1
dtype: int64

In [100]:
#quartiles
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.quantile(X,[0.25,0.50,0.75])

array([2. , 4. , 5.5])

In [101]:
print("Q1 : ", np.quantile(X,0.25),
      "Q2 : ", np.quantile(X,0.50),
      "Q3 : ", np.quantile(X,0.75))

Q1 :  2.0 Q2 :  4.0 Q3 :  5.5

In [102]:
#using pandas
z.quantile([0.25,0.50,0.75])

      values
0.25     2.0
0.50     4.0
0.75     5.5

In [103]:
z.describe()

          values
count  15.000000
mean    4.200000
std     2.651145
min     1.000000
25%     2.000000
50%     4.000000
75%     5.500000
max    10.000000

In [104]:
#Maximum
X=[1,2,3,1,2,3,4,5,2,6,7,5,4,8,10]

#using numpy
np.max(X)

10

In [105]:
print("Maximum : ", np.max(X))

Maximum :  10

In [106]:
#using pandas
z.max()

values    10
dtype: int64

# Range

In [107]:
#Range
#using numpy

Ran=np.max(X) - np.min(X)
Ran

9

In [108]:
#using pandas
Range = z.max()-z.min()
Range

values    9
dtype: int64

# IQR

In [109]:
#IQR
#using numpy
IQR = np.quantile(X,0.75)-np.quantile(X,0.25)
IQR

3.5

In [110]:
#using pandas
iqr=z.quantile(0.75)-z.quantile(0.25)
iqr

values    3.5
dtype: float64

# QD

In [111]:
#QD
#using numpy
QD = IQR/2
QD

1.75

In [112]:
#QD
#using pandas
qd =iqr/2
qd

values    1.75
dtype: float64