# To Multiply 2 numbers

1st assign data into string
input a number

In [2]:
a=2
b=10
c=a*b
c

20

# or

In [3]:
num1=input('first number:')

first number:2

In [4]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [5]:
#string converting to float
mul=float(num1)*float(num2)
mul

20.0

In [8]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the muliplied value of {0} and {1} is {2}' .format (num1,num2,mul))

the muliplied value of 2 and 10 is 20.0