In [13]:
import pandas as pd
data=pd.read_excel('E-commerce.xlsx')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,15.30,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,22.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
...,...,...,...,...,...,...,...,...,...
230584,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,10.20,France
230585,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,12.60,France
230586,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230587,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230588,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,14.85,France

In [14]:
#data.info()

# 1. Find the total revenue

In [15]:
v=data['Revenue'].sum()
v

5148073.239999999

# 2. Find the total number of Orders

In [16]:
v=data['InvoiceNo'].count()
v

230589

# 3. Find the unique number of customers, and give which customer most frequently using e commerce sites.

In [35]:
v=data['CustomerID'].max()
v

18287.0

# 4 . Find the revenue by country

In [17]:
v=data.groupby('Country').sum()['Revenue']
v

C:\Users\athir\AppData\Local\Temp\ipykernel_11544\2860441010.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  v=data.groupby('Country').sum()['Revenue']

Country
Australia                 51918.01
Austria                    2999.69
Bahrain                     665.14
Belgium                   17086.58
Canada                     1751.88
Channel Islands            7899.21
Cyprus                     5673.51
Czech Republic              334.99
Denmark                    4998.11
EIRE                     113425.86
European Community          440.55
Finland                   11519.79
France                    87804.11
Germany                   97755.23
Greece                     2149.28
Hong Kong                  1550.59
Iceland                    2540.29
Israel                     1045.75
Italy                      3797.76
Japan                     19074.65
Lithuania                  1661.06
Malta                       863.97
Netherlands               89945.76
Norway                    15495.40
Poland                     3983.12
Portugal                  13776.38
Saudi Arabia                 14.75
Singapore                 14300.42
Spain                     26422.27
Sweden                     9812.21
Switzerland               27864.21
USA                        4314.22
United Arab Emirates        975.54
United Kingdom          4502149.94
Unspecified                2063.01
Name: Revenue, dtype: float64

# 5. Find the Total number products sold

In [18]:

v=data['Description'].count()
v

229991

# 6. Find the top 3 countries in terms of revenue

In [33]:
v=data.groupby('Country').sum()['Revenue'].head(3)
v

C:\Users\athir\AppData\Local\Temp\ipykernel_11544\2263558516.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  v=data.groupby('Country').sum()['Revenue'].head(3)

Country
Australia    51918.01
Austria       2999.69
Bahrain        665.14
Name: Revenue, dtype: float64

# 7. Find the average revenue by country

In [ ]:
v=data.groupby('Country').mean()['Revenue']
v

# 8. Find the Maximum revenue by country

In [ ]:
v=data.groupby('Country').max()['Revenue']
v