# Dictionary

In [1]:
# we created a dictionary now, with key : name,email,phone number
# and values jungkook,jungkook@gmail.com,9985742561
dict1= {"name" : "jungkook",
       "Email" : "jungkook@gmail.com",
       "phone number": "9985742561"}
dict1

{'name': 'jungkook',
 'Email': 'jungkook@gmail.com',
 'phone number': '9985742561'}

In [2]:
# now to seperately call each key from the dictionary we can use the code
a=dict1['phone number']
a

'9985742561'

In [3]:
# change value in the dictionary
dict1["Name"]="catherine"
print(dict1)

{'name': 'jungkook', 'Email': 'jungkook@gmail.com', 'phone number': '9985742561', 'Name': 'catherine'}

In [4]:
dict1["Email"]="jungkook@gmail.com"
print(dict1)

{'name': 'jungkook', 'Email': 'jungkook@gmail.com', 'phone number': '9985742561', 'Name': 'catherine'}

In [5]:
#To get key words headings
for x in dict1:
    print(x)

name
Email
phone number
Name

In [6]:
#To get value
for x in dict1:
    print(dict1[x])

jungkook
jungkook@gmail.com
9985742561
catherine

In [8]:
# to get both key and values
for x,y in dict1.items():
    print(x,y)

name jungkook
Email jungkook@gmail.com
phone number 9985742561
Name catherine

In [9]:
# to get the length of dictionary
print(len(dict1))

4

In [10]:
# to add some more key and values into dictionary
dict1["Age"]=20
print(dict1)

{'name': 'jungkook', 'Email': 'jungkook@gmail.com', 'phone number': '9985742561', 'Name': 'catherine', 'Age': 20}

In [11]:
print(len(dict1))

5

In [12]:
dict1["place"]="Angamaly"
print(dict1)

{'name': 'jungkook', 'Email': 'jungkook@gmail.com', 'phone number': '9985742561', 'Name': 'catherine', 'Age': 20, 'place': 'Angamaly'}

In [13]:
print(len(dict1))

6

In [14]:
#to remove value
dict1.pop("Email")
dict1

{'name': 'jungkook',
 'phone number': '9985742561',
 'Name': 'catherine',
 'Age': 20,
 'place': 'Angamaly'}

In [15]:
#to delet from dictionary
del dict1["place"]
dict1

{'name': 'jungkook',
 'phone number': '9985742561',
 'Name': 'catherine',
 'Age': 20}

In [16]:
# to clear all the values from dictionary
dict1.clear()
dict1

{}

# Operators

In [ ]:
operators in python are used for operations between twu values or variables.The output varies according to the type of operator used in the
operation

Types of operators
1.Arithmetic operators
2.Assignment operators