# Python Indentation

In [90]:
#Python Indentation
#if we give if statement, before printing the we should give space before next code

if 7 > 3:
  print("Seven is greater than three!")

Seven is greater than three!

In [91]:
if 3 > 1:
 print("Three is greater than one!") 
if 7 > 5:
        print("Seven is greater than Five!")

Three is greater than one!
Seven is greater than Five!

# Python Variable assigning

In [92]:
#Variables in Python
x = 7
y = "Hello"
print(x)
print(y)

7
Hello

# Python Comments

In [93]:
#comments in python
#It is a comment. 
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# Creating python variables

In [94]:
#Creating variables
x=3
y="Johny"

print(x)
print(y)

3
Johny

In [95]:
x = 321       # x is of type int
x = "Jitt" # x is now of type str
print(x)

Jitt

# Python Casting

In [96]:
#Casting

x = str(12)    # x will be '12'
y = int(12)    # y will be 12
z = float(12)  # z will be 12.0

print(x)
print(y)
print(z)

12
12
12.0

# Getting data type

In [97]:
#get the type
x = 3
y = "Yash"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# We can use single or double quotes

In [98]:
#Single or Double Quotes?

x = "Johny"
print(x)
# is the same as
x = 'Johny'

print(x)

Johny
Johny

# Case sensitive

In [99]:
#Case-Sensitive

a = 3
A = "Yash"
#A will not overwrite a

print(a)
print(A)

3
Yash

# Variable names should be

In [100]:
## **Python - Variable Names**

#Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)

John
John
John

In [101]:
#Illegal variable names:
"""
myvar = "John"
my-var = "John"
my var = "John"
"""

'\nmyvar = "John"\nmy-var = "John"\nmy var = "John"\n'

# Many values to multiple variable

In [102]:
#Many Values to Multiple Variables

a, b, c = "accounting", "bank", "chemistry"
print(a)
print(b)
print(c)

accounting
bank
chemistry

# One Value to Multiple Variables

In [103]:
#One Value to Multiple Variables
a = b = c = "Data Analysis"
print(a)
print(b)
print(c)

Data Analysis
Data Analysis
Data Analysis

# Unpack a Collection

In [104]:
#Unpack a Collection
courses = ["Accounting", "Chemistry", "Data analysis"]
a, b, c = courses
print(a)
print(b)
print(c)

Accounting
Chemistry
Data analysis

# Variables output

In [105]:
#Output Variables
p = "The course of python is so excellent"
print(p)

The course of python is so excellent

In [106]:
x = "This course"
y = "is"
z = "awesome"
print(x, y, z)

This course is awesome

In [107]:
x = "This course "
y = "is "
z = "awesome"
print(x + y + z)

This course is awesome

In [108]:

x = 7
y = 15
print(x + y)

22

In [ ]:
x = 5
y = "John"
print(x + y)

#this result show as error

In [110]:
x = 5
y = "Paul"
print(x, y)

5 Paul

# Global Variables

In [111]:
#Global Variables
x = "Exciting"

def myfunc():
  print("Python is " + x)

myfunc()

Python is Exciting

In [112]:
x = "excellent"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is excellent

In [113]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [114]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic