# Sets

In [ ]:
A set is a collection which is unordered

To declare a set in python we use the curly brackets.

In [2]:
set={10,20,10,30,20,40,30,50,30}
#will get all the values.
for x in set:
 print(x)

50
20
40
10
30

In [3]:
for x in set:
 print(x)

50
20
40
10
30

In [4]:
20 in set
#will return true if the value is in the set.

True

In [5]:
100 in set

False

In [6]:
#add a value in a set
set.add('pekky')
set

{10, 20, 30, 40, 50, 'pekky'}

In [7]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [8]:
100 in set

True

In [9]:
#to remove an item from a set
set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [10]:
set.remove(100)
set

{10, 20, 30, 40, 50}

In [11]:
set1={5,10,20}
set2={10,20,30}
set1.issubset(set2)

#to check subset or not

False

In [12]:
set1={10,20}
step2={10,20,30}
set1.issubset(set2)

True

In [13]:
#this will return a set with the union of the two sets.
set1.union(set2)

{10, 20, 30}

In [14]:
st1={4,2,3}
st2={4,3,1}

st1.union(st2)

{1, 2, 3, 4}

# Dictionary