In [469]:
import pandas as pd

Oorjja = pd.read_csv('Oorjja.csv')
Oorjja
Oorjja.head()
Oorjja.tail()
Oorjja.head(2)
Oorjja.head(3)
Oorjja.head(4)

,Timestamp,NAME,Place,Designation,GENDER,EDUCATION,Age,Number of members in your family ?,Size of your shirt?,Number of knives at your home?,Number of chairs in your home?,Which is your favorite color,How many liters of milk are being bought every day in your house?,Height in cm,Weight in kg
0,2021/07/27 2:47:35 PM GMT+5:30,Anjali Manuel,Kannur,Student,FEMALE,Post graduation(PG),25,4,L,7,15,Black,1 Liter,156,56
1,2021/07/27 2:48:44 PM GMT+5:30,Mukund Bhaskaran,Eranakulam,Student,MALE,Graduation(Degree)(Bcom),37,5,XL,3,9,Blue,3,185,92
2,2021/07/27 2:50:08 PM GMT+5:30,Akshaya R,Thiruvananthapuram,Student,FEMALE,12 (higher secondary),22,My Family- 3,XL,4,9,"Blue, Red",1,152,56
3,2021/07/27 2:50:30 PM GMT+5:30,Anusree,Chalakudy,Teacher,FEMALE,Post graduation(PG),25,5,L,3,12,Blue,1,163,60

In [470]:
Oorjja.columns

Index(['Timestamp', 'NAME', 'Place', 'Designation', 'GENDER', 'EDUCATION',
       'Age', 'Number of members in your family ?', 'Size of your shirt?',
       'Number of knives at your home?', 'Number of chairs in your home?',
       'Which is your favorite color',
       'How many liters of milk are being bought every day in your house?',
       'Height in cm', 'Weight in kg'],
      dtype='object')

In [471]:
Oorjja.shape
#19 rows and 15 columns

(19, 15)

In [472]:
Oorjja.dtypes

Timestamp                                                            object
NAME                                                                 object
Place                                                                object
Designation                                                          object
GENDER                                                               object
EDUCATION                                                            object
Age                                                                   int64
Number of members in your family ?                                   object
Size of your shirt?                                                  object
Number of knives at your home?                                       object
Number of chairs in your home?                                       object
Which is your favorite color                                         object
How many liters of milk are being bought every day in your house?    object
Height in cm                                                          int64
Weight in kg                                                          int64
dtype: object

In [473]:
Oorjja={"Timestamp" : "2023/04/04 11:31:27 AM GMT+5:30"}
Oorjja

{'Timestamp': '2023/04/04 11:31:27 AM GMT+5:30'}

In [474]:
Oorjja={"NAME ": "Athira pv"}
Oorjja

{'NAME ': 'Athira pv'}

In [475]:
Oorjja={"Place" : "thrissur"}
Oorjja

{'Place': 'thrissur'}

In [476]:
Oorjja={"Designation": "Student"}
Oorjja

{'Designation': 'Student'}

In [477]:
Oorjja={"GENDER" :"FEMALE"}
Oorjja

{'GENDER': 'FEMALE'}

In [478]:
Oorjja={"EDUCATION " : "Graduation(Degree)(Bcom)"}
Oorjja

{'EDUCATION ': 'Graduation(Degree)(Bcom)'}

In [479]:
Oorjja={"Age" : "23" }
Oorjja

{'Age': '23'}

In [480]:
Oorjja={"Number of members in your family ?" : "four"}
Oorjja

{'Number of members in your family ?': 'four'}

In [481]:
Oorjja={"Size of your shirt?" : "S"}
Oorjja

{'Size of your shirt?': 'S'}

In [482]:
Oorjja={"Number of knives at your home?" : "four"}
Oorjja

{'Number of knives at your home?': 'four'}

In [483]:
Oorjja={"Number of chairs in your home? " : "eight"  }
Oorjja

{'Number of chairs in your home? ': 'eight'}

In [484]:
Oorjja={"Which is your favorite color" : "purple" }
Oorjja

{'Which is your favorite color': 'purple'}

In [485]:
Oorjja={"How many liters of milk are being bought every day in your house?": " 500 ML"}
Oorjja

{'How many liters of milk are being bought every day in your house?': ' 500 ML'}

In [486]:
Oorjja={"Height in cm" :"156"}
Oorjja

{'Height in cm': '156'}

In [487]:
Oorjja={"Weight in kg " : "45"}
Oorjja

{'Weight in kg ': '45'}

In [488]:
Oorjja={"dtype: object"}
Oorjja

{'dtype: object'}